<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnalphabet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alphabet2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alphabet2"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAlphabet">
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainPage"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:parentActivityName=".ResultActivity" />
        <activity
            android:name=".MainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Images"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".MainPage">
        </activity>
    </application>

</manifest>